<div class="flex flex-col gap-3 p-4" [formGroup]="_form">
  <app-select
    label="Лог. оператор"
    [formControl]="_form.controls.logicalOperator"
    [options]="_logicalOperatorOptions"
  />

  <app-select
    label="Тип документа"
    [formControl]="_form.controls.type"
    [options]="_conditionTypeOptions"
  />

  @switch (_form.value.type) {
    @case ('test') {
      <app-select
        label="Тест"
        [formControl]="_form.controls.test.controls.testId"
        [options]="_testOptions()"
      />

      <app-select
        label="Тип параметра"
        [formControl]="_form.controls.test.controls.type"
        [options]="_testParamTypeOptions"
      />

      @switch (_form.value.test?.type) {
        @case ('score') {
          <app-input
            label="Количество баллов"
            type="number"
            [formControl]="_form.controls.test.controls.score"
          />
        }
        @case ('succedded') {
          <app-checkbox
            [formControl]="_form.controls.test.controls.success"
            label="Тест завершен успешно"
          />
        }
      }
    }
    @case ('article') {
      <app-select
        label="Текстовый документ"
        [formControl]="_form.controls.article.controls.articleId"
        [options]="_articleOptions()"
      />

      <app-checkbox
        [formControl]="_form.controls.article.controls.isReaded"
        label="Документ прочтен"
      />
    }
    @default {
      <h5 class="text-xs text-slate-500">Неизвестный тип</h5>
    }
  }

  <div class="flex w-full justify-end gap-2 pt-2">
    <app-button [disabled]="!_form.dirty" (clicked)="_handleSubmit()" icon="check">
      Сохранить
    </app-button>
    <app-button variant="outline" (clicked)="_handleClose()" icon="xmark">
      Закрыть
    </app-button>
  </div>
</div>
