<form class="flex flex-col h-full w-full gap-1 p-4 overflow-hidden" [formGroup]="_form" (ngSubmit)="_submit()">
  <mat-form-field appearance="fill">
    <mat-label>Наименование</mat-label>
    <input matInput [formControl]="_form.controls.name">
  </mat-form-field>
  <div class="flex gap-1">
    <button mat-flat-button color="primary" (click)="_preventClick($event);_openFile()">
      <mat-icon svgIcon="file-contract" />
      Выбрать файл
    </button>
    @if (_form.value.html) {
      <button mat-flat-button color="primary" (click)="_preventClick($event);_openHtmlContentInWindow()">
        <mat-icon svgIcon="window-maximize" />
        Просмотреть документ
      </button>

      @if (_convertMessages();as message) {
        <button mat-mini-fab [title]="message" color="primary">
          <mat-icon class="circle-exclamation" />
        </button>
      }
    }
  </div>
  <div class="flex flex-col mt-3">
    <mat-form-field>
      <mat-label>Запускать по окончанию</mat-label>
      <mat-select [formControl]="_form.controls.nextRunArticle">
        @for(article of _allArticles(); track $index) {
          <mat-option [value]="article.id">
            {{article.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Время на прочтение, мин
      </mat-label>
      <input [formControl]="_form.controls.timeRead" matInput type="number">
    </mat-form-field>
    <mat-checkbox [formControl]="_form.controls.disableWhileNotPrevComplete">
      Блокировать, пока не прочитан пред.
    </mat-checkbox>
    <mat-checkbox [formControl]="_form.controls.hideWhileNotPrevComplete">
      Скрывать, пока не прочитан пред.
    </mat-checkbox>
    <mat-checkbox [formControl]="_form.controls.includeToStatistics">
      Участвует в статистике
    </mat-checkbox>

    @let links = _linksNames();
    @if (links?.length) {
      <p>Ссылки в документах:</p>
      <div class="flex gap-1 flex-wrap p-1">
        @for (link of _linksNames(); track $index) {
          @let linkForm = _findArticleLinkForm(link);
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu" (click)="_preventClick($event);">
            <div class="flex gap-1 items-center">
              {{link}}
              @if (!linkForm?.value?.articleId) {
                <app-circle-pulse />
              }
            </div>
          </button>
          <mat-menu #menu>
            @for (art of _allArticles(); track $index) {
              <button mat-menu-item [ngClass]="{ '!bg-gray-400': art.id === linkForm?.value?.articleId }" (click)="_addOrUpdateLink(link, art.id)">{{art.name}}</button>
            }
          </mat-menu>
        }
      </div>
    }

  </div>



  <div class="w-full flex justify-end gap-1">
    <button [disabled]="_form.invalid || !_form.dirty || _isPending()" type="submit" mat-flat-button color="primary">
      <mat-icon [svgIcon]="_isPending() ? 'spinner' : 'check'" />
      Сохранить
    </button>
    <button mat-button color="warn" (click)="_preventClick($event);_cancel()">
      <mat-icon svgIcon="xmark" />
      Закрыть
    </button>
  </div>
</form>
