<nav class="px-2 py-1.5 w-full flex flex-wrap gap-2 bg-slate-900 border-b border-slate-800 items-center">
  <app-breadcrumbs [path]="_path()" (onItemClick)="_navigate($event)" labelKey="name" valueKey="id" />
  <app-button
    [disabled]="_isCreating()"
    size="sm"
    [icon]="_isCreating() ? 'spinner' : 'folder'"
    (clicked)="_createNewFolder()"
  >
    Создать папку
  </app-button>
  <app-button
    [disabled]="_isCreating()"
    size="sm"
    icon="file-contract"
    (clicked)="_createArticle()"
  >
    Добавить текстовый документ
  </app-button>
  <app-button
    size="sm"
    icon="file-circle-check"
    (clicked)="_createTest()"
  >
    Создать тест
  </app-button>
  <app-button
    size="sm"
    icon="kit-medical"
    (clicked)="_createRescue()"
  >
    Создать спасение
  </app-button>
</nav>
