<form class="flex flex-col gap-3 p-4" [formGroup]="_form">
  <app-textarea
    label="Текст ответа"
    [formControl]="_form.controls.answerText"
    [rows]="3"
    [required]="true"
    class="grow"
  />
  <app-input
    label="Баллы за ответ"
    type="number"
    [formControl]="_form.controls.score"
    class="grow"
  />
  <app-checkbox
    [formControl]="_form.controls.isCorrect"
    label="Это правильный ответ?"
  />
  <div class="flex w-full justify-end gap-2 pt-2">
    <app-button [disabled]="!_form.dirty" (clicked)="_handleSubmit()" icon="check">
      Сохранить
    </app-button>
    <app-button variant="outline" (clicked)="_handleClose()" icon="xmark">
      Закрыть
    </app-button>
  </div>
</form>