<app-dialog-wrapper
  [title]="_dialogData.severity ? 'Редактировать уровень' : 'Новый уровень серьёзности'"
  [saveText]="_dialogData.severity ? 'Сохранить' : 'Добавить'"
  (save)="_submit()"
  (close)="_cancel()"
>
  <form [formGroup]="_form" class="flex flex-col gap-4 min-w-[280px] pt-1">
    <div class="grid grid-cols-2 gap-3">
      <app-input
        type="number"
        label="Минимум"
        formControlName="min"
      />
      <app-input
        type="number"
        label="Максимум"
        formControlName="max"
      />
    </div>

    <app-select
      label="Серьёзность"
      formControlName="severity"
      [options]="_severityOptions"
    />

    <app-textarea
      label="Описание"
      formControlName="description"
      [rows]="3"
      placeholder="Необязательно"
    />
  </form>
</app-dialog-wrapper>
