@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

angular-editor {
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
  }
}

:root {
  --ae-toolbar-bg-color: transparent;
  --ae-toolbar-border-radius: none;
}

.mat-mdc-button-base {
  mat-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.svg-inline--fa {
  width: inherit;
  height: inherit;
}

.mat-mdc-menu-item {
  min-height: 24px !important;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}