<app-dialog-wrapper
  [title]="_dialogData.implication ? 'Редактировать последствие' : 'Новое последствие'"
  [saveText]="_dialogData.implication ? 'Сохранить' : 'Добавить'"
  [saveDisabled]="_form.invalid"
  (save)="_submit()"
  (close)="_cancel()"
>
  <form [formGroup]="_form" class="flex flex-col gap-4 min-w-[320px] pt-1">
    <app-textarea
      label="Описание"
      formControlName="description"
      [rows]="3"
    />
    <app-select
      label="Серьёзность"
      formControlName="severity"
      [options]="_severityOptions"
    />
  </form>
</app-dialog-wrapper>
