<app-dialog-wrapper
  [title]="_dialogData.document ? 'Редактировать документ' : 'Новый документ'"
  [saveText]="_dialogData.document ? 'Сохранить' : 'Добавить'"
  [saveDisabled]="_form.invalid"
  (save)="_submit()"
  (close)="_cancel()"
>
  <form [formGroup]="_form" class="flex flex-col gap-4 min-w-[360px] pt-1">
    <app-input
      label="Название документа"
      formControlName="name"
    />
    <app-select
      label="Документ из базы"
      formControlName="articleId"
      [options]="_articleSelectOptions()"
    />
  </form>
</app-dialog-wrapper>
