<div class="flex flex-col w-full h-full">
  <div class="flex gap-2 p-2 border-b">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="createMenu" [disabled]="_isPending() || !_canCreateChild()">
      <mat-icon svgIcon="plus" />
      Создать
    </button>
    <mat-menu #createMenu="matMenu">
      <button mat-menu-item (click)="_handleCreate('folder')">
        <mat-icon svgIcon="folder" />
        <span>Папка</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('test')">
        <mat-icon svgIcon="file-circle-check" />
        <span>Тест</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('question')">
        <mat-icon svgIcon="file-contract" />
        <span>Вопрос</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('medicine')">
        <mat-icon svgIcon="kit-medical" />
        <span>Медикамент</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('trigger')">
        <mat-icon svgIcon="bolt" />
        <span>Триггер</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('params-state')">
        <mat-icon svgIcon="chart-line" />
        <span>Панель состояния параметров</span>
      </button>
      <button mat-menu-item (click)="_handleCreate('folder-container')">
        <mat-icon svgIcon="layer-group" />
        <span>Контейнер папки</span>
      </button>
    </mat-menu>
    <button mat-flat-button color="warn" (click)="_handleDelete()" [disabled]="_isPending() || !_selectedItem()">
      <mat-icon svgIcon="trash" />
      Удалить
    </button>
  </div>
  <as-split [direction]="'horizontal'" [gutterSize]="8" class="flex-1 overflow-hidden">
    <as-split-area [size]="30" [minSize]="20" [maxSize]="60">
      <app-rescue-library-tree 
        [selectedItemId]="_selectedItem()?.id ?? null"
        (itemSelect)="_onItemSelect($event)" />
    </as-split-area>
    <as-split-area [size]="70" [minSize]="40">
      <div class="form-container">
        @if (_selectedItem();as item) {
          @if (_isFolder(item)) {
            <app-rescue-library-folder-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)" />
          }
          @if (_isTest(item)) {
            <app-rescue-library-test-form 
              [selectedItem]="item"
              (submitEvent)="_handleSubmit($event)"
              (testCreatedOrEdited)="_handleTestCreatedOrEdited()" />
          }
          @if (_isQuestion(item)) {
            <app-rescue-library-question-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)"
                (questionCreatedOrEdited)="_handleQuestionCreatedOrEdited()" />
          }
          @if (_isMedicine(item)) {
            <app-rescue-library-medicine-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)" />
          }
          @if (_isTrigger(item)) {
            <app-rescue-library-trigger-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)" />
          }
          @if (_isParamsState(item)) {
            <app-rescue-library-params-state-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)" />
          }
          @if (_isFolderContainer(item)) {
            <app-rescue-library-folder-container-form 
                [selectedItem]="item"
                (submitEvent)="_handleSubmit($event)" />
          }
        } @else {
          <h5>Выберите элемент из дерева</h5>
        }
      </div>
    </as-split-area>
  </as-split>
</div>
