<div class="tree-container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Leaf node template -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div 
        class="w-full text-left p-2 hover:bg-gray-600 flex items-center cursor-move" 
        [class.bg-blue-100]="selectedItemId() === node.item.id" 
        [class.text-blue-900]="selectedItemId() === node.item.id"
        draggable="true"
        (dragstart)="_onDragStart($event, node.item)"
        (click)="_selectItem(node.item)">
        <mat-icon class="mr-2" [svgIcon]="_getIconForType(node.item.type)"></mat-icon>
        <span>{{ node.item.name }}</span>
      </div>
    </mat-tree-node>

    <!-- Expandable node template -->
    <mat-tree-node *matTreeNodeDef="let node; when: _hasChild" matTreeNodePadding>
      <button 
        type="button"
        mat-icon-button 
        matTreeNodeToggle
        [attr.aria-label]="'toggle ' + node.item.name"
        (click)="$event.stopPropagation()">
        <mat-icon class="mat-icon-rtl-mirror" [svgIcon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'">
        </mat-icon>
      </button>
      <div 
        class="flex-1 text-left p-2 hover:bg-gray-600 flex items-center cursor-move" 
        [class.bg-blue-100]="selectedItemId() === node.item.id" 
        [class.text-blue-900]="selectedItemId() === node.item.id"
        draggable="true"
        (dragstart)="_onDragStart($event, node.item)"
        (click)="_selectItem(node.item)">
        <mat-icon class="mr-2" [svgIcon]="_getIconForType(node.item.type)"></mat-icon>
        <span>{{ node.item.name }}</span>
      </div>
    </mat-tree-node>
  </mat-tree>
</div>
