<div class="flex flex-col gap-1 p-1">
  <div class="flex justify-between items-center">
    <div class="flex gap-2">
      <button 
        type="button" 
        mat-flat-button 
        color="primary"
        (click)="_addStory()">
        <mat-icon [svgIcon]="'circle-plus'"></mat-icon>
        Добавить сюжет
      </button>
      <button 
        type="button" 
        mat-flat-button 
        color="primary"
        [disabled]="_isPending() || _storiesArray().length === 0 || !rescueId() || rescueId()!.length === 0"
        (click)="_handleSave()">
        <mat-icon [svgIcon]="_isPending() ? 'spinner' : 'check'"></mat-icon>
        Сохранить
      </button>
    </div>
  </div>

  <mat-accordion [multi]="false">
    @for (story of _storiesArray(); track story.id; let i = $index) {
      <mat-expansion-panel 
        [expanded]="_expandedIndex() === i"
        (opened)="_onPanelOpened(i)"
        (closed)="_onPanelClosed()">
        <mat-expansion-panel-header>
          <div class="story-header">
            <div class="story-info">
              <span class="font-medium">{{ story.name }}</span>
            </div>
            <button 
            class="mr-1"
              type="button"
              mat-icon-button
              (click)="_deleteStory(i); $event.stopPropagation()"
              color="warn">
              <mat-icon [svgIcon]="'trash'"></mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        
        <div class="p-4">
          <app-rescue-story-item-form
            [storyData]="story.data"
            [storyName]="story.name"
            [storyId]="story.id"
            [rescueId]="rescueId()!"
            (submitEvent)="_onStoryChange(i, $event)"
            (imageFileEvent)="_onImageFileEvent(i, $event)" />
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
