<div class="flex flex-col w-full h-full overflow-hidden gap-1 p-2">
  <form class="flex flex-col h-full w-full gap-1 p-4 overflow-hidden" [formGroup]="_form" (ngSubmit)="_handleSubmit()">
    <div class="flex gap-1 w-full">
      <mat-form-field appearance="fill" class="grow">
        <mat-label>Наименование</mat-label>
        <input matInput [formControl]="_form.controls.name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="grow">
        <mat-label>Макс. количество ошибок</mat-label>
        <input matInput [formControl]="_form.controls.maxErrors">
      </mat-form-field>
      <mat-form-field appearance="fill" class="grow">
        <mat-label>Проходной балл</mat-label>
        <input matInput [formControl]="_form.controls.minScore">
      </mat-form-field>
    </div>
    <div class="flex gpa-1 w-full">
      <mat-checkbox [formControl]="_form.controls.showCorrectAnswer">
        Показывать правильный ответ в вопросах
      </mat-checkbox>
      <mat-checkbox [formControl]="_form.controls.includeToStatistics">
        Тест участвует в статистике
      </mat-checkbox>
    </div>
    <app-test-conditions-builder [folderId]="_dialogData.parentId!" [formControl]="_form.controls.conditions" />
    <app-test-questions-builder [folderId]="_dialogData.parentId!" [formControl]="_form.controls.questions" />
  </form>
  <div class="grow overflow-auto">

  </div>
  <div class="flex w-full justify-end gap-1">
    <button [disabled]="_form.invalid || !_form.dirty || _isPending()" (click)="_handleSubmit()" type="submit" mat-flat-button color="primary">
      <mat-icon [svgIcon]="_isPending() ? 'spinner' : 'check'" />
      Сохранить
    </button>
    <button mat-button color="warn" (click)="_handleClose()">
      <mat-icon svgIcon="xmark" />
      Закрыть
    </button>
  </div>
</div>
