name: Angular CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_content_builder:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    name: Сборка Content Builder
    steps:
      - name: Проверка кода
        uses: actions/checkout@v2

      - name: Установка Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20' # Укажите нужную версию Node.js
      
      - name: Установка зависимостей Start Page
        run: npm install
        working-directory: ./start-page

      - name: Сборка приложения Start Page
        run: npm run build
        working-directory: ./start-page

      - name: Установка зависимостей Content Builder
        run: npm install
        working-directory: ./content-builder-web-app

      - name: Сборка приложения Content Builder
        run: npm run build
        working-directory: ./content-builder-web-app

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: 3.0.2

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.1

      - name: Install dependencies
        run: flutter pub get
        working-directory: ./mobile_app

      - name: Сборка Web
        run: flutter build web
        working-directory: ./content-builder-web-app

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: ./dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4